<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Attended</th>
      <th>Attendance %</th>
      <th>1st</th>
      <th>2nd or 3rd</th>
      <th>Current Score*</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each_with_index do |participant, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= participant[1].full_name %></td>
      <td><%= participant[1].played_in_by_season(@season) %></td>
      <td><%= number_to_percentage(participant[1].played_in_by_season_percentage(@season), precision: 0) %></td>
      <td><%= participant[1].place_finishes_by_season(@season, [1]) %></td>
      <td><%= participant[1].place_finishes_by_season(@season, [2, 3]) %></td>
      <td><%= number_with_precision(participant[0], precision: 2) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
