<div class="row">
  <div class="col-md-4">
    <ul class="list-group game_show-season">
      <li class="list-group-item">
        <h4><%= @game.formatted_date %></h4>
        <p class="participant_show-stat participant_show-title">
          <%= "Game ##{@game.number_by_season(@season)} of Season ##{@season.number_by_league(@league)}" %>
        </p>
      </li>
      <li class="list-group-item">
        <h5>Statitics & Things</h5>
        <p class="game_show-stat"><%= pluralize(@game.players_count, 'player') %></p>
        <p class="game_show-stat"><%= number_to_currency(@game.buy_in, precision: 0) %> buy in</p>
        <p class="game_show-stat"><%= number_to_currency(@game.pot_size, precision: 0) %> total pot</p>
      </li>


    </ul>
  </div>
  <div class="col-md-8">
    <ul class="list-group game_show">
      <li class="list-group-item">
        <h5>Player Standings</h5>
      </li>
    <% @game.players_ordered_by_finishing_place.each do |player| %>
      <li class="list-group-item">
        <h5><%= "#{player.finishing_place}. #{player.full_name}" %></h5>
        <p class="game_show-stat">Score: <%= player.score %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
